@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');

:root{
    /* CSS HEX */
--clr-penn-blue: #021340ff;
--clr-paynes-gray: #596480ff;
--clr-french-gray: #BBC1D0ff;
--clr-oxford-blue: #04153Fff;
--clr-white: #FFFFFFff;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
i{
    font-family: unset !important;
}
img{
    max-width: 100%;
}
.icon{
    position: relative;
    width: 18px;
    height:16px;
    margin-left: 0.1rem;
}
.apply-btn .icon{
    top: 0.2rem;
}
.icon-lg{
  width: 25px;
  position: relative;
  margin-right: 0.2rem;
  /* height: 20px;   */
}
.highlighted-txt{
    padding-bottom: 1rem;
    letter-spacing: 1px;
    background: -webkit-linear-gradient(#45a0f5, #26e3c2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

a{
    text-decoration: none;
    color: #fff;
}
.section-title{
    text-align: center;
    padding: 1rem;
}
.linkedin-icon{
    fill:#0e76a8;
}
.instagram-icon{
fill: #FCAF45;
}

.mail-icon{
    fill: #d07309c7 !important;
    display: inline-block;
}
.youtube-icon{
fill: #FF0000 !important;
}
body{
    background: var(--clr-oxford-blue);
    font-family: 'Kumbh Sans', sans-serif;
    color: #fff;
}
section{
    padding: 2rem 1rem;
}
section:nth-of-type(1){
    padding: 0.1rem 1rem;
}
/*start of navigation */
header{
    position: sticky;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--clr-oxford-blue);
    z-index: 2000;
}
.logo img{
    width: 20px;
    height: 20px;
}
.logo{
    display: flex;
    align-items: center;
    gap: 0.4rem;
    text-transform: uppercase;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 2rem 0.5rem 2rem;
    padding: 1rem 2rem;
    color: #fff;
    position: relative;
    text-align: center;
    border-bottom: 1px solid #28225d;
}
.nav-links{
    display: grid;
    grid-template-columns: 4.8fr 1fr;
    justify-content: center;
    gap: 1rem;
    align-items: center;
}
.links>*{
    padding-right: 1rem;
    font-size: 1.1rem;
}

nav h3{
    font-size: 1.2rem;
}
.nav-bars{
    cursor: pointer;
    margin-top: 0.6rem;
}
.nav-bars span{
    display: block;
    height: 2px;
    width: 25px;
    background: #fff;
    margin-bottom: 0.2rem;
    margin-right: 2.5rem;
    position: relative;
    transition: 200ms ease-in;
}
.rotate span:nth-child(2){
    display: none;
}
.rotate span:nth-child(1){
    transform: rotate(-45deg);
    bottom: -0.3rem;
}

.rotate span:nth-child(3){
    transform: rotate(45deg);
}
.side-menu-links{
    background:rgb(18, 17, 17);
    position: fixed;
    top: 3rem;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    opacity: 0.9;
    padding-bottom: 2rem;
    z-index: 2000;

}
/* .side-menu-links{
    display: none;
} */

.nav-bars{
    display: none;
}
/* toggle on click */
.show-mobile-menu{
    transition: 180ms ease-in;
    transform: translateX(100%);
}
.side-links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    gap: 1rem;
    min-height: 400px;
}
.links a, .side-links a{
    transition: all 300ms;
}
.links a:hover, .side-links a:hover{
    color: #d07309c7;
}
.call-to-action{
    /* border: 1px solid #fff; */
    border-radius: 1rem;
    padding: 0.5rem 0.7rem;
    transition:all 200ms ease-in-out;
    background: #d07309c7;
    font-size: 1.2rem;
    font-weight: bolder;
}
/* .call-to-action:hover{
    background: linear-gradient(#15a089,#0a3f70);
} */
/* end of navigation */

/* landing-page start */
.landing-page{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    justify-items: center;
    /* margin: 1.5rem 1rem; */
    background-color: #04153F;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Ccircle stroke='%231E173F' vector-effect='non-scaling-stroke' id='a' fill='none' stroke-width='5' r='315'/%3E%3Cuse id='f' href='%23a' stroke-dasharray='100 100 100 9999'/%3E%3Cuse id='b' href='%23a' stroke-dasharray='250 250 250 250 250 9999'/%3E%3Cuse id='e' href='%23a' stroke-dasharray='1000 500 1000 500 9999'/%3E%3Cuse id='g' href='%23a' stroke-dasharray='1500 9999'/%3E%3Cuse id='h' href='%23a' stroke-dasharray='2000 500 500 9999'/%3E%3Cuse id='j' href='%23a' stroke-dasharray='800 800 800 800 800 9999'/%3E%3Cuse id='k' href='%23a' stroke-dasharray='1200 1200 1200 1200 1200 9999'/%3E%3Cuse id='l' href='%23a' stroke-dasharray='1600 1600 1600 1600 1600 9999'/%3E%3C/defs%3E%3Cg transform='translate(1000 750)' %3E%3Cg transform='rotate(0 0 0)' %3E%3Ccircle fill='%231E173F' r='10'/%3E%3Cg transform='rotate(0 0 0)'%3E%3Cuse href='%23f' transform='scale(.1) rotate(50 0 0)' /%3E%3Cuse href='%23f' transform='scale(.2) rotate(100 0 0)' /%3E%3Cuse href='%23f' transform='scale(.3) rotate(150 0 0)' /%3E%3C/g%3E%3Cg transform='rotate(0 0 0)'%3E%3Cuse href='%23b' transform='scale(.4) rotate(200 0 0)' /%3E%3Cuse href='%23z' transform='scale(.5) rotate(250 0 0)' /%3E%3C/g%3E%3Cg id='z' transform='rotate(0 0 0)'%3E%3Cg transform='rotate(0 0 0)'%3E%3Cuse href='%23b'/%3E%3Cuse href='%23b' transform='scale(1.2) rotate(90 0 0)' /%3E%3Cuse href='%23b' transform='scale(1.4) rotate(60 0 0)' /%3E%3Cuse href='%23e' transform='scale(1.6) rotate(120 0 0)' /%3E%3Cuse href='%23e' transform='scale(1.8) rotate(30 0 0)' /%3E%3C/g%3E%3C/g%3E%3Cg id='y' transform='rotate(0 0 0)'%3E%3Cg transform='rotate(0 0 0)'%3E%3Cuse href='%23e' transform='scale(1.1) rotate(20 0 0)' /%3E%3Cuse href='%23g' transform='scale(1.3) rotate(-40 0 0)' /%3E%3Cuse href='%23g' transform='scale(1.5) rotate(60 0 0)' /%3E%3Cuse href='%23h' transform='scale(1.7) rotate(-80 0 0)' /%3E%3Cuse href='%23j' transform='scale(1.9) rotate(100 0 0)' /%3E%3C/g%3E%3C/g%3E%3Cg transform='rotate(0 0 0)'%3E%3Cg transform='rotate(0 0 0)'%3E%3Cg transform='rotate(0 0 0)'%3E%3Cuse href='%23h' transform='scale(2) rotate(60 0 0)'/%3E%3Cuse href='%23j' transform='scale(2.1) rotate(120 0 0)'/%3E%3Cuse href='%23j' transform='scale(2.3) rotate(180 0 0)'/%3E%3Cuse href='%23h' transform='scale(2.4) rotate(240 0 0)'/%3E%3Cuse href='%23j' transform='scale(2.5) rotate(300 0 0)'/%3E%3C/g%3E%3Cuse href='%23y' transform='scale(2) rotate(180 0 0)' /%3E%3Cuse href='%23j' transform='scale(2.7)'/%3E%3Cuse href='%23j' transform='scale(2.8) rotate(45 0 0)'/%3E%3Cuse href='%23j' transform='scale(2.9) rotate(90 0 0)'/%3E%3Cuse href='%23k' transform='scale(3.1) rotate(135 0 0)'/%3E%3Cuse href='%23k' transform='scale(3.2) rotate(180 0 0)'/%3E%3C/g%3E%3Cuse href='%23k' transform='scale(3.3) rotate(225 0 0)'/%3E%3Cuse href='%23k' transform='scale(3.5) rotate(270 0 0)'/%3E%3Cuse href='%23k' transform='scale(3.6) rotate(315 0 0)'/%3E%3Cuse href='%23k' transform='scale(3.7)'/%3E%3Cuse href='%23k' transform='scale(3.9) rotate(75 0 0)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
/* background-attachment: fixed; */
background-repeat: no-repeat;
background-size: cover;
}

.hero-img img{
    max-height: 600px;
    width: 700px;
    object-fit: cover;
    border-radius: 0.2rem;
}
.landing-page .txt{
    max-width: 600px;
}
.landing-page .txt h1{
   font-size: clamp(1rem, -1.5rem + 8vw, 3rem);
   line-height: 1.2;
   padding-bottom: 1rem;
   letter-spacing: 1px;
   background: -webkit-linear-gradient(#45a0f5, #26e3c2);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
.landing-page .txt p{
   font-size: clamp(0.8rem, -1.3rem + 4vw, 1.7rem);
   line-height: 1.5;
}
.accent-txt{
    color: #45a0f5;
}
.accent-txt2{
    color: #26e3c2;
}
.btns{
    margin-top: 1.8rem;
}
.apply-btn{
    background: #d07309c7;
    color:#fff;
    padding: 0.6rem 0.7rem; 
    border-radius: 1rem;
    margin-right: 1rem;
}
/* .learn-more-btn{
    border: 1px solid #fff;
    border-radius: 1rem;
    padding: 0.35rem 0.7rem;
    transition:all 200ms ease-in-out;
} */
/* landing-page end */
.main-benefits-wrapper{
display: flex;
flex-direction: column;
justify-content: center;
justify-items: center;
align-items: center;
gap: 15px;
/* max-width: 1000px; */
width: 100%;
margin: 2rem auto;
background: linear-gradient(#031c3e, #073d1d7b);
padding: 1rem;
}
.main-benefits-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
    gap: 15px;
    /* max-width: 1000px; */
    width: 100%;
}
.main-benefit{
    /* background: #0116097b; */
    /* background: linear-gradient( #094d3b7b,#031c30); */
    /* margin: 1rem; */
    /* width: 100%; */
    min-width: 300px;
    display: flex;
    max-width: 400px;
    padding: 1.2rem 1.5rem;
    line-height: 1.7;
    color: #ded6d6;
    font-weight: bolder;
    border-radius: 1rem;
    justify-self: center;
    justify-content: center;
    /* max-width: 1200px; */
    flex-direction: column;
    align-items: center;
    justify-items: center;
}
.benefit-title{
    font-size: 1.3rem;
    color: #ed922bc7;
    margin-bottom: 0.4rem;
    text-align: center;
    letter-spacing: 2px;
}
.main-benefit p {
    text-align: center;
    color: #928d8d;
    font-weight: bolder;
}
/*START OF FEATURED EVENT SECTION */
.upcoming-event{
    margin: 1.2rem auto;
    max-width: 800px;
    width: 100%;
}
.event-details-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 1.5rem;
    padding: 1.5rem 1rem;
    /* background-color: #04153F;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Ccircle stroke='%231E173F' vector-effect='non-scaling-stroke' id='a' fill='none' stroke-width='5' r='315'/%3E%3Cuse id='f' href='%23a' stroke-dasharray='100 100 100 9999'/%3E%3Cuse id='b' href='%23a' stroke-dasharray='250 250 250 250 250 9999'/%3E%3Cuse id='e' href='%23a' stroke-dasharray='1000 500 1000 500 9999'/%3E%3Cuse id='g' href='%23a' stroke-dasharray='1500 9999'/%3E%3Cuse id='h' href='%23a' stroke-dasharray='2000 500 500 9999'/%3E%3Cuse id='j' href='%23a' stroke-dasharray='800 800 800 800 800 9999'/%3E%3Cuse id='k' href='%23a' stroke-dasharray='1200 1200 1200 1200 1200 9999'/%3E%3Cuse id='l' href='%23a' stroke-dasharray='1600 1600 1600 1600 1600 9999'/%3E%3C/defs%3E%3Cg transform='translate(1000 750)' %3E%3Cg transform='rotate(0 0 0)' %3E%3Ccircle fill='%231E173F' r='10'/%3E%3Cg transform='rotate(0 0 0)'%3E%3Cuse href='%23f' transform='scale(.1) rotate(50 0 0)' /%3E%3Cuse href='%23f' transform='scale(.2) rotate(100 0 0)' /%3E%3Cuse href='%23f' transform='scale(.3) rotate(150 0 0)' /%3E%3C/g%3E%3Cg transform='rotate(0 0 0)'%3E%3Cuse href='%23b' transform='scale(.4) rotate(200 0 0)' /%3E%3Cuse href='%23z' transform='scale(.5) rotate(250 0 0)' /%3E%3C/g%3E%3Cg id='z' transform='rotate(0 0 0)'%3E%3Cg transform='rotate(0 0 0)'%3E%3Cuse href='%23b'/%3E%3Cuse href='%23b' transform='scale(1.2) rotate(90 0 0)' /%3E%3Cuse href='%23b' transform='scale(1.4) rotate(60 0 0)' /%3E%3Cuse href='%23e' transform='scale(1.6) rotate(120 0 0)' /%3E%3Cuse href='%23e' transform='scale(1.8) rotate(30 0 0)' /%3E%3C/g%3E%3C/g%3E%3Cg id='y' transform='rotate(0 0 0)'%3E%3Cg transform='rotate(0 0 0)'%3E%3Cuse href='%23e' transform='scale(1.1) rotate(20 0 0)' /%3E%3Cuse href='%23g' transform='scale(1.3) rotate(-40 0 0)' /%3E%3Cuse href='%23g' transform='scale(1.5) rotate(60 0 0)' /%3E%3Cuse href='%23h' transform='scale(1.7) rotate(-80 0 0)' /%3E%3Cuse href='%23j' transform='scale(1.9) rotate(100 0 0)' /%3E%3C/g%3E%3C/g%3E%3Cg transform='rotate(0 0 0)'%3E%3Cg transform='rotate(0 0 0)'%3E%3Cg transform='rotate(0 0 0)'%3E%3Cuse href='%23h' transform='scale(2) rotate(60 0 0)'/%3E%3Cuse href='%23j' transform='scale(2.1) rotate(120 0 0)'/%3E%3Cuse href='%23j' transform='scale(2.3) rotate(180 0 0)'/%3E%3Cuse href='%23h' transform='scale(2.4) rotate(240 0 0)'/%3E%3Cuse href='%23j' transform='scale(2.5) rotate(300 0 0)'/%3E%3C/g%3E%3Cuse href='%23y' transform='scale(2) rotate(180 0 0)' /%3E%3Cuse href='%23j' transform='scale(2.7)'/%3E%3Cuse href='%23j' transform='scale(2.8) rotate(45 0 0)'/%3E%3Cuse href='%23j' transform='scale(2.9) rotate(90 0 0)'/%3E%3Cuse href='%23k' transform='scale(3.1) rotate(135 0 0)'/%3E%3Cuse href='%23k' transform='scale(3.2) rotate(180 0 0)'/%3E%3C/g%3E%3Cuse href='%23k' transform='scale(3.3) rotate(225 0 0)'/%3E%3Cuse href='%23k' transform='scale(3.5) rotate(270 0 0)'/%3E%3Cuse href='%23k' transform='scale(3.6) rotate(315 0 0)'/%3E%3Cuse href='%23k' transform='scale(3.7)'/%3E%3Cuse href='%23k' transform='scale(3.9) rotate(75 0 0)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: cover; */
    /* justify-content: space-around; */
    align-items: center;
    border: 0.5px solid rgb(57, 55, 55);
    max-width: 1000px;
    margin: 1.8rem 1rem;
}
.event-details-container img{
    max-width: 100px;
    width: 100%;
}
.event-details-container .subtitle{
    color: #efefe6;
    padding: 1rem;
    text-transform: uppercase;
    font-size: 0.8rem;
}
.event-details-container p{
    color: #ddd0d0;
    padding: 0.5rem;
    max-width: 500px;
}
.event-details-container .event-name{
    font-weight: bolder;
    color: #f0ac5fc7;
    font-size: 1.2rem;
}
.event-details-container .event-description{
    color: #9a9595;
    font-weight: lighter;
}
.event-details-container .apply-btn{
    margin: 1rem;
}

/* ABOUT US SECTION */


/* ABOUT ME SCTION START */
/* Container needed to position the button. Adjust the width as needed */
.video-container {
    position: relative;
    /* width: 50%; */
    max-width: 100%;
  }
  .video-container iframe{
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    /* z-index: 1000; */
  }
  /* Make the image responsive */
  /* .video-container iframe {
    width: 100%;
    height: auto;
    width:640px !important;
    height:360;
  } */
  
  /* Style the button and place it in the middle of the container/image */
  .video-container .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 0.9rem 1.3rem;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    opacity: 0.7;
    transition: 100ms ease-in;
  }
  
  .video-container .btn:hover {
    opacity: 0.9;
  }

/*video popup styles*/
.vimeo-shadowbox {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.7);
  transition: all 0.5s ease;
}
.vimeo-shadowbox--hidden {
  opacity: 0;
  z-index: 1000;
  visibility: hidden;
  pointer-events: none;
}
.vimeo-shadowbox__video-wrapper {
  position: fixed;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 640px;
}
.vimeo-shadowbox__video {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.vimeo-shadowbox__video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0.8rem;
}
.vimeo-shadowbox__close-button{
  width: 30px;
  height: 30px;
  background: rgb(7, 24, 176);
  border-radius: 50%;
  position: absolute;
  padding: 0.5rem;
  bottom:0;
  top: -0.5rem;
  right: 0;
  display: flex;
  text-align: center;
  justify-content: center;
}
/* .vimeo-shadowbox__close-button {
  width: 30px;
  height: 30px;
  border: 1px solid #fff;
  border-radius: 50%;
  position: absolute;
  right: -15px;
  top: -15px;
  overflow: hidden;
  text-indent: -9999em;
  background: green;
} */


/* EBOOK SECTION START */
.ebook-section .small-title{
    all: unset;
      color: #57dd74 !important;
  }
  .ebook-section{
      /* background: #080924; */
    background: linear-gradient(#031630, #052f167b);
      align-items: center;
      justify-items: center;
  }
  .ebook-section img{
      height: 100%;
  }
  .about-ebook-txt{
      box-shadow: rgba(5, 34, 80, 0.15) 1.95px 1.95px 2.6px;
  }
  .ebook-section .about-ebook-txt{
      padding: 2rem 1.5rem;
      border-radius: 0.4rem;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  .about-ebook-txt p{
      max-width: 550px;
  }
  .about-ebook-txt>*{
      margin-bottom: 0.95rem;
  }
  .ebook-section .small-title{
      color: #444ff1;
      font-weight: bolder;
      margin-bottom: 2rem;
  }
  .about-ebook-txt h2{
      font-size:2rem;
      color: #57b7dd;
      margin: 1.5rem 1rem;
  }
  .purchase-ebook-items{
      display: flex;
      align-items: center;
      margin-top: 0.8rem;
  }
  .purchase-ebook-items a{
      background: linear-gradient(#0c38e5,#57b7dd);
      padding: 0.3rem 1rem;
      border-radius: 0.2rem;
      transition: 200ms ease-in-out;
  }
  .purchase-ebook-items a:hover, .after-txt-btn:hover{
      opacity: 0.9;
  }
  .purchase-ebook-items span{
      margin-left: 1.5rem;
      color: #57b7dd;
      font-weight: bolder;
      user-select: none;
  }
  .after-txt-btn{
      background: linear-gradient(#0c38e5,#57b7dd);
      padding: 0.3rem 1rem;
      border-radius: 0.2rem;
      transition: 200ms ease-in-out;
      max-width: 200px;
      margin: 1rem;
  }
  
  /* contact us section */
  .contact_us_green .responsive-container-block {
      min-height: 75px;
      height: fit-content;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      margin-top: 0px;
      margin-right: auto;
      margin-bottom: 60px;
      margin-left: auto;
      background-color: #0D0E31;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%230e0e35' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%230f0e39' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23110e3c' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23120e40' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23130E44' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
    }
    
    .contact_us_green input:focus {
      outline-color: initial;
      outline-style: none;
      outline-width: initial;
    }
    
    .contact_us_green textarea:focus {
      outline-color: initial;
      outline-style: none;
      outline-width: initial;
    }
    
    .contact_us_green .text-blk {
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
      line-height: 25px;
      color: #26e3c2;
    }
/* video-popup */

/* ABOUT US SECTION END */


/* ABOUT US SECTION */
/* START OF WE'D LIKE TO HEAR FROM YOU SECTION */
/* .thumbnail-image{
    position: relative;
    z-index: 1;
} */
.follow-us{
    background: linear-gradient(#033025, #052f167b);

}
.secttion-title-main{
    text-align: center;
    /* margin-bottom: 1rem; */
    padding: 1rem;
    font-size: 2rem;
}
.social-media-links{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 0.8rem 1rem;
    margin-top: 1.4rem;
}
.social-media-link{
font-size: 0.8rem;
display: flex;
align-items: center;
gap: 0.8rem;
border: 2px solid #d07309c7;
padding: 0.8rem 1.5rem;
border-radius: 0.8rem;
/* justify-content: space-between; */
}

/* END OF FEATURED EVENT SECTION */


/* media queries */
@media(max-width:800px){
    .nav-links{
        display: none;
    }
    .nav-bars{
        display: block;
    }
    .landing-page{
        grid-template-columns: 1fr;
    }
    .hero-img{
        order: -1;
    }
    .landing-page .txt{
        max-width: 500px;
        text-align: center;
        margin-top: 2rem;
        background: #07053c;
        padding: 2rem 1rem;
        /* font-size: 1.8rem; */
    }
    .landing-page .txt p{
        font-size: clamp(1.2rem, 2.5vw, 2rem);  
        text-align: center;
    }
    .landing-page .txt h1{
        font-size: clamp(1.5rem, 2.5vw, 4rem); 
    }
    .hero-img{
        max-height: 380px;
    }
    .hero-img img{
        max-height: 380px;
    }
}

/* START OF PRICING PLANS SECTION */
.titles{
  text-align: center;
  padding-bottom: 2rem;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  flex-direction: column;
}
.titles p{
    padding: 0.5rem;
    max-width: 600px;
}

/* hide scroll bars on chrome */
.technologies-used::-webkit-scrollbar {
    display: none;
  }
.technologies-used{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }  
/* END OF PRICING PLANS SECTION */

/* make side menu disappear on big screens if open */
@media(min-width:800px){
    .side-menu-links{
    transform: translateX(100%);
    }   
}
/* end of media queries */
